@model IEnumerable<MVC.Models.ProductModel>
@{
    ViewBag.Title = "Index";
}
<h2>Product List using Html.Partial</h2>

<h3>
  From Temp Data   @TempData["MyTemp"]
</h3>

<div>
    @Html.Partial("_ProductList", Model);
</div>
<button type="button" id="Test" class="Test" data-dismiss="modal">Test</button>

<<div id="partialModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Customer Details Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" id="close" class="close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(function () {
        $("#CustomerGrid .details").click(function () {
            var productId = $(this).closest("tr").find("td").eq(0).html();
            $.ajax({
                type: "POST",
                url: "/Product/DetailsByID",
                data: { "productId": productId },
                success: function (response) {
                    debugger;
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });

        $("#close").click(function () {
            debugger;
            $("#partialModal").modal('hide');
        });

        $("#Test").on("click", function (event) {
            debugger;
            alert("Hi..");
        });

        $(".Test").on("click", function (event) {
            debugger;
            alert("Hi..");
        });


    });

    //$("#button-container button").on("click", function (event) {
    //    hiddenBox.show();
    //});
</script>

