
@{
    ViewBag.Title = "Index";
}

@ViewBag.Message
My Roll No = @ViewBag.Roll
@foreach (var item in ViewBag.List)
{
    @item;
}
<h2>Index</h2>

@ViewData["Hello"]

<br />
<br />
@foreach (var item in (List<string>)ViewData["RollNO"])
{
    @item;
    <br />
}

<br />
<br />


@{
    string msg = TempData.Peek("Name").ToString();
    TempData.Peek("Name");

}
@msg

@Html.ActionLink("Index1", "Index1")

